

<section id="header">
    <a routerLink="home"><img src="../../assets/img/logo.png" class="logo" alt=""></a>
    
    <div>
        <ul id="navbar">
           <li><a routerLink="/home">Home</a></li>
           <li><a routerLink="/shop">Shop</a></li>
           <li><a routerLink="/blog">Blog</a></li>
           <li><a routerLink="/about">About</a></li>
           <li><a routerLink="/contact">Contact</a></li>
           <li><a routerLink="/contact">Sign in</a></li>
    <li routerLink="cart"><i class="far fa-shopping-bag"></i>
<div class="badge bg-danger">{{totalitemnumber}}</div>
    </li>
        </ul>
    </div>
   
    
    </section>
